#desktop-navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 63px;
  border-bottom: $nav-border-val;
  background-color: $bc-dark-2;
  z-index: 800;
  overflow-y: visible;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    h2 {
      font-size: 15px;
      font-weight: 900;
      font-family: Varino, sans-serif;
      cursor: pointer;
    }

    ul {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 55px;

      li {
        position: relative;
        list-style: none;
        cursor: pointer;
        font-family: 'Space Mono',sans-serif;
        text-transform: uppercase;

        a, .sub-link {
          color: $default-text-color;
          letter-spacing: 1px;
          font-size: 14px;
          font-weight: 500;
          text-decoration: none;
          border-bottom: 3px solid transparent;
          position: relative;
          height: 63px;
          padding: 20px 12px;

          .arrow-down {
            stroke: #FFFFFF;
          }
        }

        .sub-link {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border-bottom: 2px solid transparent;
        }

        .sub-link.active {
          svg {
            margin-left: unset;
            transform: rotate(180deg);
          }
        }

        .contact-btn {
          position: relative;
          padding: 12px 15px;
          top: -3px;
          color: $bc-dark-2;
          text-decoration: none;
          transition: 200ms ease-out;
        }
      }

      li:last-child:hover .contact-btn {
        background-color: $bc-light-1;
      }

      .locale-wrapper {
        display: flex;
        align-items: center;
        column-gap: 12px;

        .locale {
          color: $default-text-color;
          text-transform: uppercase;
        }

        .locale.active {
          text-decoration: underline;
        }

        svg {
          margin-top: 1px;
        }
      }
    }
  }

  .sub-link-content {
    position: absolute;
    top: 63px;
    width: 100%;
    height: auto;
    background-color: $bc-dark-3;
    //border-radius: 3px;
    display: flex;
    flex-direction: column;
    z-index: 15;
    padding: 18px 0;

    .nested-link {
      padding: 10px 14px;
      height: auto;
    }
  }

  .container ul li .router-link-active.router-link-exact-active.nested-link:hover,
  .container ul li .nested-link {
    border-bottom: none!important;
  }


  .sub-link-content::before {
    content: '';
    width: 200vw;
    height: 100%;
    background-color: $bc-dark-1;
    position: absolute;
    top: 0;
    left: -100vw;
  }
}

@media only screen and (min-width: 1280px) {
  #desktop-navbar {
    padding: 0 20px;

    .container {
      padding: 0;
    }
  }
}



#desktop-navbar.rebalancing-tool .container {
  h2 {
    color: #53FDCA;
  }
  ul {
    li {
      .sub-link.active {
        color: #53FDCA;
        border-bottom: 2px solid #53FDCA;

        svg {
          stroke: #53FDCA;
        }
      }
      .contact-btn {
        background-color: #53FDCA;
        color: #121212;
      }
    }

    li a:hover:not(li:last-child a:hover),
    .sub-link:hover,
    .router-link-exact-active {
      color: #53FDCA;
      border-bottom: 2px solid #53FDCA;

      svg {
        stroke: #53FDCA;
      }
    }

    .locale-wrapper .locale.active {
      color: #53FDCA;
    }
  }
}

#desktop-navbar.suggest-app .container {
  h2 {
    color: #FA8231;
  }
  ul {
    li {
      .sub-link.active {
        color: #FA8231;
        border-bottom: 2px solid #FA8231;

        svg {
          stroke: #FA8231;
        }
      }
      .contact-btn {
        background-color: #FA8231;
        color: #121212;
      }
    }

    li a:hover:not(li:last-child a:hover),
    .sub-link:hover,
    .router-link-exact-active {
      color: #FA8231;
      border-bottom: 2px solid #FA8231;

      svg {
        stroke: #FA8231;
      }
    }

    .locale-wrapper .locale.active {
      color: #FA8231;
    }
  }
}

#desktop-navbar.pure-air .container {
  h2 {
    color: #FFFFFF;
  }
  ul {
    li {
      .sub-link.active {
        color: #59aeff;
        border-bottom: 2px solid #59aeff;

        svg {
          stroke: #59aeff;
        }
      }
      .contact-btn {
        background-color: #2994ff;
        color: #FFFFFF;
      }
    }

    li a:hover:not(li:last-child a:hover),
    .sub-link:hover,
    .router-link-exact-active {
      color: #59aeff;
      border-bottom: 2px solid #59aeff;

      svg {
        stroke: #59aeff;
      }
    }

    li:last-child a:hover {
      color: #121212
    }

    .locale-wrapper .locale.active {
      color: #59aeff;
    }
  }
}

#desktop-navbar.diewell-website .container {
  h2 {
    color: #FFFFFF;
  }
  ul {
    li {
      .sub-link.active {
        color: #7094C1;
        border-bottom: 2px solid #526E91;

        svg {
          stroke: #7094C1;
        }
      }
      .contact-btn {
        background-color: #0e243f;
        color: #FFFFFF;
      }
    }

    li a:hover:not(li:last-child a:hover),
    .sub-link:hover,
    .router-link-exact-active {
      color: #7094C1;
      border-bottom: 2px solid #526E91;

      svg {
        stroke: #7094C1;
      }
    }

    li:last-child a:hover {
      color: #121212
    }

    .locale-wrapper .locale.active {
      color: #7094C1;
    }
  }
}


#desktop-navbar.broady-pictures .container {
  h2 {
    color: #FFFFFF;
  }
  ul {
    li {
      .sub-link.active {
        color: #C7AA8B;

        svg {
          stroke: #C7AA8B;
        }
      }
      .contact-btn {
        background-color: #383224;
        color: #FFFFFF;
      }
    }

    li a:hover:not(li:last-child a:hover),
    .sub-link:hover,
    .router-link-exact-active {
      color: #C7AA8B;
      border-bottom: 2px solid #C7AA8B;

      svg {
        stroke: #C7AA8B;
      }
    }

    li:last-child a:hover {
      background-color: #C7AA8B;
      color: #121212
    }

    .locale-wrapper .locale.active {
      color: #C7AA8B;
    }
  }
}
