nav#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 25;
  background-color: #1c212b;
  box-shadow: 0 3px 8px rgba(0,0,0,0.6);
}

.nav-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 15px;
}

.logo {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 0;
  color: #8d7498;
  font-size: 20px;
}

.link-container {
  position: relative;
  flex: 1;
}

ul {
  position: absolute;
  top: -15px;
  right: calc(-70vw - 15px);
  height: 100vh;
  width: 70vw;
  background-color: #1c212b;
  transition: 250ms ease-out;
  z-index: 25;
  padding: 120px 0 0;
}

ul.open {
  right: -15px;
}

.nav-underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  transition: 250ms ease-out;
  pointer-events: none;
  z-index: 15;
}

.nav-underlay.open {
  opacity: 0.6;
  pointer-events: all;
}

.open-button {
  position: absolute;
  top: 5px;
  right: 0;
  width: 33px;
  height: 21px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='21' viewBox='0 0 33 21'%3E%3Cg id='hamburger_menu' data-name='hamburger menu' transform='translate(-330.534 -27)'%3E%3Crect id='Rechteck_5' data-name='Rechteck 5' width='33' height='3' rx='1.5' transform='translate(330.534 27)' fill='%23fff'/%3E%3Crect id='Rechteck_6' data-name='Rechteck 6' width='24' height='3' rx='1.5' transform='translate(339.534 36)' fill='%23fff'/%3E%3Crect id='Rechteck_7' data-name='Rechteck 7' width='15' height='3' rx='1.5' transform='translate(348.534 45)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.213' height='24.213' viewBox='0 0 24.213 24.213'%3E%3Cpath id='Vereinigungsmenge_1' data-name='Vereinigungsmenge 1' d='M22.274,24.4l-9.546-9.546L3.182,24.4A1.5,1.5,0,1,1,1.06,22.274l9.547-9.546L1.061,3.182A1.5,1.5,0,0,1,3.182,1.061l9.546,9.546,9.546-9.546A1.5,1.5,0,1,1,24.4,3.182l-9.546,9.546L24.4,22.274A1.5,1.5,0,1,1,22.274,24.4Z' transform='translate(-0.621 -0.622)' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

li {
  width: 100%;
  text-align: center;
  list-style: none;
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 45px;
  cursor: pointer;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.locale-wrapper {
  width: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.locale-wrapper .locale {
  color: #FFFFFF;
  text-transform: uppercase;
}

.locale-wrapper .locale.active {
  color: #8d7498;
  text-decoration: underline;
}

.locale-wrapper svg {
  margin-top: 1px;
}


@media (min-width: 991px) {

  .nav-underlay,
  .nav-underlay.open,
  .open-button,
  .close-button {
    display: none;
  }

  .link-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  ul {
    position: relative;
    top: 0;
    right: 0;
    height: auto;
    padding: 0;
    width: 70vw;
    max-width: 700px;
    background-color: #1c212b;
    transition: 250ms ease-out;
    z-index: 25;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 75px;
  }

  ul.open {
    right: 0;
  }

  li {
    width: auto;
    margin-bottom: 0;
  }

  .locale-wrapper {
    width: auto;
    margin: 0;
  }
}
