#hero-section {
  background-color: #2b303b;
  padding: 6rem 0.938rem 2.188rem;

  .container {
    display: flex;
    flex-direction: column;

      .image-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 35px;

        img {
          width: 9.375rem;
          height: 9.375rem;
          border-radius: 50%;
        }
      }
  }

  .text-wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 991px) {
  #hero-section {
    padding: 8rem 0.938rem 4.188rem;
    .container {
      width: 100%;
      flex-direction: row;

      h1 {
        font-size: 2rem;
        margin-bottom: 1.25rem;
        font-weight: 600;
      }

      .image-wrapper {
        width: auto;
        margin-right: 35px;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  #hero-section .container {
    max-width: 961px;
  }
}


