#link-section {
  background-color: #151b26;
  padding: 4rem 0.938rem 4rem;
}
#link-section .link-box-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  column-gap: 35px;
  row-gap: 35px;
  margin-bottom: 35px;
}
#link-section .link-box-wrapper .link-box {
  position: relative;
  width: 100%;
  min-width: 297px;
  flex: 1;
  background-color: #1c212b;
  padding: 1rem 1rem 1.4rem;
  cursor: pointer;
}
#link-section .link-box-wrapper .link-box h2 {
  color: #8d7498;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 12px;
}
#link-section .link-box-wrapper .link-box h4 {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 26px;
  line-height: 0.8;
}
#link-section .link-box-wrapper .link-box .divider {
  background: #846D8F;
  width: 3.125rem;
  height: 0.125rem;
  margin-bottom: 18px;
}
#link-section .link-box-wrapper .link-box .arrow {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 22px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='492.007' height='409.313' viewBox='0 0 492.007 409.313'%3E%3Cg id='right-arrow' transform='translate(0.001 -41.344)'%3E%3Cg id='Gruppe_27' data-name='Gruppe 27'%3E%3Cpath id='Pfad_17' data-name='Pfad 17' d='M484.14,226.886,306.46,49.2a27.006,27.006,0,0,0-38.084,0L252.244,65.338a26.728,26.728,0,0,0-7.86,19.04,27.255,27.255,0,0,0,7.86,19.264L355.9,207.526H26.58A26.277,26.277,0,0,0,0,234v22.812c0,14.852,11.732,27.648,26.58,27.648h330.5L252.248,388.926a26.668,26.668,0,0,0,0,37.812l16.132,16.084a27.011,27.011,0,0,0,38.084-.036l177.68-177.68a27.156,27.156,0,0,0,0-38.22Z' fill='%23bf6165'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#link-section .link-box-wrapper .link-box::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: 80% 55%;
  background-size: 120px;
  background-repeat: no-repeat;
  opacity: 0.15;
}
#link-section .link-box-wrapper .link-box.blog::before {
  background-image: url("data:image/svg+xml,%3Csvg id='stats_blog' xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cg id='Gruppe_9' data-name='Gruppe 9'%3E%3Cg id='Gruppe_8' data-name='Gruppe 8'%3E%3Cpath id='Pfad_10' data-name='Pfad 10' d='M467,0H45A45.051,45.051,0,0,0,0,45V467a45.051,45.051,0,0,0,45,45H467a45.051,45.051,0,0,0,45-45V45A45.051,45.051,0,0,0,467,0Zm15,467a15.017,15.017,0,0,1-15,15H45a15.017,15.017,0,0,1-15-15V150H482Zm0-347H30V45A15.017,15.017,0,0,1,45,30H467a15.017,15.017,0,0,1,15,15Z' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_11' data-name='Gruppe 11'%3E%3Cg id='Gruppe_10' data-name='Gruppe 10'%3E%3Ccircle id='Ellipse_3' data-name='Ellipse 3' cx='15' cy='15' r='15' transform='translate(60 60)' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_13' data-name='Gruppe 13'%3E%3Cg id='Gruppe_12' data-name='Gruppe 12'%3E%3Ccircle id='Ellipse_4' data-name='Ellipse 4' cx='15' cy='15' r='15' transform='translate(120 60)' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_15' data-name='Gruppe 15'%3E%3Cg id='Gruppe_14' data-name='Gruppe 14'%3E%3Ccircle id='Ellipse_5' data-name='Ellipse 5' cx='15' cy='15' r='15' transform='translate(180 60)' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_17' data-name='Gruppe 17'%3E%3Cg id='Gruppe_16' data-name='Gruppe 16'%3E%3Cpath id='Pfad_11' data-name='Pfad 11' d='M225,180H75a15,15,0,0,0-15,15V317a15,15,0,0,0,15,15H225a15,15,0,0,0,15-15V195a15,15,0,0,0-15-15ZM210,302H90V210H210Z' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_19' data-name='Gruppe 19'%3E%3Cg id='Gruppe_18' data-name='Gruppe 18'%3E%3Cpath id='Pfad_12' data-name='Pfad 12' d='M437,302H285a15,15,0,0,0,0,30H437a15,15,0,1,0,0-30Z' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_21' data-name='Gruppe 21'%3E%3Cg id='Gruppe_20' data-name='Gruppe 20'%3E%3Cpath id='Pfad_13' data-name='Pfad 13' d='M437,241H285a15,15,0,0,0,0,30H437a15,15,0,1,0,0-30Z' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_23' data-name='Gruppe 23'%3E%3Cg id='Gruppe_22' data-name='Gruppe 22'%3E%3Cpath id='Pfad_14' data-name='Pfad 14' d='M437,362H75a15,15,0,0,0,0,30H437a15,15,0,1,0,0-30Z' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_25' data-name='Gruppe 25'%3E%3Cg id='Gruppe_24' data-name='Gruppe 24'%3E%3Cpath id='Pfad_15' data-name='Pfad 15' d='M437,422H75a15,15,0,0,0,0,30H437a15,15,0,1,0,0-30Z' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
#link-section .link-box-wrapper .link-box.git::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cg id='stats-git' transform='translate(-560 -214)'%3E%3Cpath id='Differenzmenge_1' data-name='Differenzmenge 1' d='M471,512H41A40.966,40.966,0,0,1,0,471V41A40.966,40.966,0,0,1,41,0H471a40.966,40.966,0,0,1,41,41V471a40.966,40.966,0,0,1-41,41ZM45,30A15.017,15.017,0,0,0,30,45V467a15.017,15.017,0,0,0,15,15H467a15.017,15.017,0,0,0,15-15V45a15.017,15.017,0,0,0-15-15Z' transform='translate(560 214)' fill='%23739a99'/%3E%3Cpath id='Differenzmenge_2' data-name='Differenzmenge 2' d='M72,144a71.978,71.978,0,1,1,28.025-5.658A72.019,72.019,0,0,1,72,144ZM72,26a46,46,0,1,0,46,46A46,46,0,0,0,72,26Z' transform='translate(650 492)' fill='%23739a99'/%3E%3Cpath id='Differenzmenge_3' data-name='Differenzmenge 3' d='M72,144a71.978,71.978,0,1,1,28.025-5.658A72.019,72.019,0,0,1,72,144ZM72,26a46,46,0,1,0,46,46A46,46,0,0,0,72,26Z' transform='translate(856 492)' fill='%23739a99'/%3E%3Cpath id='Differenzmenge_4' data-name='Differenzmenge 4' d='M72,144a71.978,71.978,0,1,1,28.025-5.658A72.019,72.019,0,0,1,72,144ZM72,26a46,46,0,1,0,46,46A46,46,0,0,0,72,26Z' transform='translate(856 287)' fill='%23739a99'/%3E%3Crect id='Rechteck_28' data-name='Rechteck 28' width='31' height='74' transform='translate(913 425)' fill='%23739a99'/%3E%3Crect id='Rechteck_29' data-name='Rechteck 29' width='31' height='173' transform='matrix(0.719, 0.695, -0.695, 0.719, 873.255, 387.385)' fill='%23739a99'/%3E%3Crect id='Rechteck_30' data-name='Rechteck 30' width='31' height='67' transform='translate(913 232)' fill='%23739a99'/%3E%3C/g%3E%3C/svg%3E%0A");
}
#link-section .link-box-wrapper .link-box.wiki::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cg id='stats_wiki' transform='translate(-326 508)'%3E%3Cpath id='Differenzmenge_5' data-name='Differenzmenge 5' d='M471,512H41A40.966,40.966,0,0,1,0,471V41A40.966,40.966,0,0,1,41,0H471a40.966,40.966,0,0,1,41,41V471a40.966,40.966,0,0,1-41,41ZM45,30A15.017,15.017,0,0,0,30,45V467a15.017,15.017,0,0,0,15,15H467a15.017,15.017,0,0,0,15-15V45a15.017,15.017,0,0,0-15-15Z' transform='translate(326 -508)' fill='%23739a99'/%3E%3Cg id='wikipedia-logo' transform='translate(401.845 -376.009)'%3E%3Cpath id='Pfad_30' data-name='Pfad 30' d='M360.261,17.645l-71.977-.2c-.015,2.613-.022,5.745-.063,7.8,6.115.144,21.765,3.021,26.672,15.907L245.948,200.272c-3.378-7.9-35.44-79.121-39.1-88.28L240.19,42.831c6.884-10.522,20.049-17.307,32.776-17.8L272.93,17.8l-69.245-.063c-.165,1.834,0,5.689-.25,7.6,19.534.529,26.517,4.9,21.835,16.568-7.726,17.553-23.926,50.811-27.094,56.874-9.908-20.71-16.208-36.65-27-59.039-4.653-10.375,5.619-14.414,16.484-14.716V17.748L107.468,17.5c.059,3.418-.077,5.333-.077,7.832,11.18.169,25.683,1.363,31.467,11.1,7.671,14.932,33.239,74.218,40.976,90.1-9.868,18.939-33.838,63.732-42.427,80.534-12.3-27.31-57.818-134.844-70.681-162.6C61.932,32.632,80.443,25.8,91.15,25.3l.07-7.894L0,17.4c.018,2.374.1,6.285.106,8.038C14.9,25.3,36.521,49.6,42.7,64.7c26.623,61.785,54.1,123.209,80.591,185.046a79.669,79.669,0,0,0,8.383.029c17.337-35.478,37.594-72.759,55.886-108.64L233.7,249.829c.018.015,7.652.059,7.693.025,29.262-66.875,73.1-169.5,87.449-201.893,5.834-13.845,15.6-22.29,31.4-22.765l.117-7.189Z' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
#link-section .link-box-wrapper .link-box.drone::before {
  background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.5' y='3.5' width='113' height='113' rx='5.5' stroke='%2329333B' stroke-width='7'/%3E%3Ccircle cx='64' cy='56' r='10' fill='%2329333B'/%3E%3Cpath d='M21 64.2993C21 46.6934 30.4203 36.0973 35.1304 33L47.8478 45.7153C47.8478 45.7153 45.0217 50.4102 45.0217 57.4526C45.0217 70.6569 55.3841 75.5474 62.4493 75.5474C68.1014 75.5474 72.0266 73.5912 73.2826 72.6131L86 85.8175C77.5217 94.6204 69.9855 100 55.3841 100C40.7826 100 21 86.3066 21 64.2993Z' stroke='%2329333B' stroke-width='6' stroke-linejoin='round'/%3E%3Cpath d='M88.7772 32.53C72.2291 14.9174 51.7873 21.6533 44 25.758L55.681 37.5796C60.0614 34.46 71.7424 34.0081 78.5563 40.904C85.857 48.2926 85.3703 60.0736 82.45 64.6709L93.6443 76C98.8359 69.2682 104.352 49.8898 88.7772 32.53Z' stroke='%2329333B' stroke-width='6' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

@media (min-width: 1280px) {
  #link-section .link-box-wrapper .link-box {
    padding: 2.2rem;
  }

  #link-section .link-box-wrapper .link-box::before {
    background-position: 85% 55%;
    background-size: 145px;
  }
}

/*# sourceMappingURL=link-section.css.map */
