#link-section {
  background-color: #151b26;
  padding: 4rem 0.938rem 4rem;

  p:not(.link-box-wrapper p) {
    text-align: center;

    a {
      text-decoration: underline;
      color: #BF6165;
    }
  }

  .link-box-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: 35px;
    row-gap: 35px;
    margin-bottom: 35px;

    .link-box {
      position: relative;
      width: 100%;
      min-width: 297px;
      flex: 1;
      background-color: #1c212b;
      padding: 1rem 1rem 1.4rem;
      cursor: pointer;

      h2 {
        color: #8d7498;
        font-size: 22px;
        font-weight: 600;
        text-align: left;
        margin-bottom: 12px;
      }

      h4 {
        font-size: 38px;
        font-weight: 600;
        margin-bottom: 26px;
        line-height: 0.8;
      }

      .divider {
        background: #846D8F;
        width: 3.125rem;
        height: 0.125rem;
        margin-bottom: 18px;
      }

      .arrow {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 22px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='492.007' height='409.313' viewBox='0 0 492.007 409.313'%3E%3Cg id='right-arrow' transform='translate(0.001 -41.344)'%3E%3Cg id='Gruppe_27' data-name='Gruppe 27'%3E%3Cpath id='Pfad_17' data-name='Pfad 17' d='M484.14,226.886,306.46,49.2a27.006,27.006,0,0,0-38.084,0L252.244,65.338a26.728,26.728,0,0,0-7.86,19.04,27.255,27.255,0,0,0,7.86,19.264L355.9,207.526H26.58A26.277,26.277,0,0,0,0,234v22.812c0,14.852,11.732,27.648,26.58,27.648h330.5L252.248,388.926a26.668,26.668,0,0,0,0,37.812l16.132,16.084a27.011,27.011,0,0,0,38.084-.036l177.68-177.68a27.156,27.156,0,0,0,0-38.22Z' fill='%23bf6165'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }


    .link-box::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-position: 80% 55%;
      background-size: 120px;
      background-repeat: no-repeat;
      opacity: 0.15;
    }

    .link-box.blog::before {
      background-image: url("data:image/svg+xml,%3Csvg id='stats_blog' xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cg id='Gruppe_9' data-name='Gruppe 9'%3E%3Cg id='Gruppe_8' data-name='Gruppe 8'%3E%3Cpath id='Pfad_10' data-name='Pfad 10' d='M467,0H45A45.051,45.051,0,0,0,0,45V467a45.051,45.051,0,0,0,45,45H467a45.051,45.051,0,0,0,45-45V45A45.051,45.051,0,0,0,467,0Zm15,467a15.017,15.017,0,0,1-15,15H45a15.017,15.017,0,0,1-15-15V150H482Zm0-347H30V45A15.017,15.017,0,0,1,45,30H467a15.017,15.017,0,0,1,15,15Z' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_11' data-name='Gruppe 11'%3E%3Cg id='Gruppe_10' data-name='Gruppe 10'%3E%3Ccircle id='Ellipse_3' data-name='Ellipse 3' cx='15' cy='15' r='15' transform='translate(60 60)' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_13' data-name='Gruppe 13'%3E%3Cg id='Gruppe_12' data-name='Gruppe 12'%3E%3Ccircle id='Ellipse_4' data-name='Ellipse 4' cx='15' cy='15' r='15' transform='translate(120 60)' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_15' data-name='Gruppe 15'%3E%3Cg id='Gruppe_14' data-name='Gruppe 14'%3E%3Ccircle id='Ellipse_5' data-name='Ellipse 5' cx='15' cy='15' r='15' transform='translate(180 60)' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_17' data-name='Gruppe 17'%3E%3Cg id='Gruppe_16' data-name='Gruppe 16'%3E%3Cpath id='Pfad_11' data-name='Pfad 11' d='M225,180H75a15,15,0,0,0-15,15V317a15,15,0,0,0,15,15H225a15,15,0,0,0,15-15V195a15,15,0,0,0-15-15ZM210,302H90V210H210Z' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_19' data-name='Gruppe 19'%3E%3Cg id='Gruppe_18' data-name='Gruppe 18'%3E%3Cpath id='Pfad_12' data-name='Pfad 12' d='M437,302H285a15,15,0,0,0,0,30H437a15,15,0,1,0,0-30Z' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_21' data-name='Gruppe 21'%3E%3Cg id='Gruppe_20' data-name='Gruppe 20'%3E%3Cpath id='Pfad_13' data-name='Pfad 13' d='M437,241H285a15,15,0,0,0,0,30H437a15,15,0,1,0,0-30Z' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_23' data-name='Gruppe 23'%3E%3Cg id='Gruppe_22' data-name='Gruppe 22'%3E%3Cpath id='Pfad_14' data-name='Pfad 14' d='M437,362H75a15,15,0,0,0,0,30H437a15,15,0,1,0,0-30Z' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3Cg id='Gruppe_25' data-name='Gruppe 25'%3E%3Cg id='Gruppe_24' data-name='Gruppe 24'%3E%3Cpath id='Pfad_15' data-name='Pfad 15' d='M437,422H75a15,15,0,0,0,0,30H437a15,15,0,1,0,0-30Z' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .link-box.git::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cg id='stats-git' transform='translate(-560 -214)'%3E%3Cpath id='Differenzmenge_1' data-name='Differenzmenge 1' d='M471,512H41A40.966,40.966,0,0,1,0,471V41A40.966,40.966,0,0,1,41,0H471a40.966,40.966,0,0,1,41,41V471a40.966,40.966,0,0,1-41,41ZM45,30A15.017,15.017,0,0,0,30,45V467a15.017,15.017,0,0,0,15,15H467a15.017,15.017,0,0,0,15-15V45a15.017,15.017,0,0,0-15-15Z' transform='translate(560 214)' fill='%23739a99'/%3E%3Cpath id='Differenzmenge_2' data-name='Differenzmenge 2' d='M72,144a71.978,71.978,0,1,1,28.025-5.658A72.019,72.019,0,0,1,72,144ZM72,26a46,46,0,1,0,46,46A46,46,0,0,0,72,26Z' transform='translate(650 492)' fill='%23739a99'/%3E%3Cpath id='Differenzmenge_3' data-name='Differenzmenge 3' d='M72,144a71.978,71.978,0,1,1,28.025-5.658A72.019,72.019,0,0,1,72,144ZM72,26a46,46,0,1,0,46,46A46,46,0,0,0,72,26Z' transform='translate(856 492)' fill='%23739a99'/%3E%3Cpath id='Differenzmenge_4' data-name='Differenzmenge 4' d='M72,144a71.978,71.978,0,1,1,28.025-5.658A72.019,72.019,0,0,1,72,144ZM72,26a46,46,0,1,0,46,46A46,46,0,0,0,72,26Z' transform='translate(856 287)' fill='%23739a99'/%3E%3Crect id='Rechteck_28' data-name='Rechteck 28' width='31' height='74' transform='translate(913 425)' fill='%23739a99'/%3E%3Crect id='Rechteck_29' data-name='Rechteck 29' width='31' height='173' transform='matrix(0.719, 0.695, -0.695, 0.719, 873.255, 387.385)' fill='%23739a99'/%3E%3Crect id='Rechteck_30' data-name='Rechteck 30' width='31' height='67' transform='translate(913 232)' fill='%23739a99'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .link-box.wiki::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cg id='stats_wiki' transform='translate(-326 508)'%3E%3Cpath id='Differenzmenge_5' data-name='Differenzmenge 5' d='M471,512H41A40.966,40.966,0,0,1,0,471V41A40.966,40.966,0,0,1,41,0H471a40.966,40.966,0,0,1,41,41V471a40.966,40.966,0,0,1-41,41ZM45,30A15.017,15.017,0,0,0,30,45V467a15.017,15.017,0,0,0,15,15H467a15.017,15.017,0,0,0,15-15V45a15.017,15.017,0,0,0-15-15Z' transform='translate(326 -508)' fill='%23739a99'/%3E%3Cg id='wikipedia-logo' transform='translate(401.845 -376.009)'%3E%3Cpath id='Pfad_30' data-name='Pfad 30' d='M360.261,17.645l-71.977-.2c-.015,2.613-.022,5.745-.063,7.8,6.115.144,21.765,3.021,26.672,15.907L245.948,200.272c-3.378-7.9-35.44-79.121-39.1-88.28L240.19,42.831c6.884-10.522,20.049-17.307,32.776-17.8L272.93,17.8l-69.245-.063c-.165,1.834,0,5.689-.25,7.6,19.534.529,26.517,4.9,21.835,16.568-7.726,17.553-23.926,50.811-27.094,56.874-9.908-20.71-16.208-36.65-27-59.039-4.653-10.375,5.619-14.414,16.484-14.716V17.748L107.468,17.5c.059,3.418-.077,5.333-.077,7.832,11.18.169,25.683,1.363,31.467,11.1,7.671,14.932,33.239,74.218,40.976,90.1-9.868,18.939-33.838,63.732-42.427,80.534-12.3-27.31-57.818-134.844-70.681-162.6C61.932,32.632,80.443,25.8,91.15,25.3l.07-7.894L0,17.4c.018,2.374.1,6.285.106,8.038C14.9,25.3,36.521,49.6,42.7,64.7c26.623,61.785,54.1,123.209,80.591,185.046a79.669,79.669,0,0,0,8.383.029c17.337-35.478,37.594-72.759,55.886-108.64L233.7,249.829c.018.015,7.652.059,7.693.025,29.262-66.875,73.1-169.5,87.449-201.893,5.834-13.845,15.6-22.29,31.4-22.765l.117-7.189Z' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .link-box.drone::before {
      background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.5' y='3.5' width='113' height='113' rx='5.5' stroke='%23739A99' stroke-width='7'/%3E%3Ccircle cx='64' cy='56' r='7' stroke='%23739A99' stroke-width='6'/%3E%3Cpath d='M21 64.2993C21 46.6934 30.4203 36.0973 35.1304 33L47.8478 45.7153C47.8478 45.7153 45.0217 50.4102 45.0217 57.4526C45.0217 70.6569 55.3841 75.5474 62.4493 75.5474C68.1014 75.5474 72.0266 73.5912 73.2826 72.6131L86 85.8175C77.5217 94.6204 69.9855 100 55.3841 100C40.7826 100 21 86.3066 21 64.2993Z' stroke='%23739A99' stroke-width='6' stroke-linejoin='round'/%3E%3Cpath d='M88.7772 32.53C72.2291 14.9174 51.7873 21.6533 44 25.758L55.681 37.5796C60.0614 34.46 71.7424 34.0081 78.5563 40.904C85.857 48.2926 85.3703 60.0736 82.45 64.6709L93.6443 76C98.8359 69.2682 104.352 49.8898 88.7772 32.53Z' stroke='%23739A99' stroke-width='6' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
    .link-box.code::before {
      background-image: url("data:image/svg+xml,%3Csvg width='512' height='512' viewBox='0 0 512 512' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M471 512H41C35.6146 512.004 30.2811 510.947 25.3047 508.888C20.3283 506.829 15.8068 503.809 11.9987 500.001C8.19057 496.193 5.1707 491.672 3.11185 486.695C1.05299 481.719 -0.00445743 476.385 1.41223e-05 471V41C-0.00445743 35.6146 1.05299 30.2811 3.11185 25.3047C5.1707 20.3283 8.19057 15.8068 11.9987 11.9987C15.8068 8.19057 20.3283 5.1707 25.3047 3.11185C30.2811 1.05299 35.6146 -0.00445743 41 1.41223e-05H471C476.385 -0.00445743 481.719 1.05299 486.695 3.11185C491.672 5.1707 496.193 8.19057 500.001 11.9987C503.809 15.8068 506.829 20.3283 508.888 25.3047C510.947 30.2811 512.004 35.6146 512 41V471C512.004 476.385 510.947 481.719 508.888 486.695C506.829 491.672 503.809 496.193 500.001 500.001C496.193 503.809 491.672 506.829 486.695 508.888C481.719 510.947 476.385 512.004 471 512ZM45 30C41.0231 30.0045 37.2105 31.5863 34.3984 34.3984C31.5863 37.2105 30.0045 41.0231 30 45V467C30.0045 470.977 31.5863 474.79 34.3984 477.602C37.2105 480.414 41.0231 481.996 45 482H467C470.977 481.996 474.79 480.414 477.602 477.602C480.414 474.79 481.996 470.977 482 467V45C481.996 41.0231 480.414 37.2105 477.602 34.3984C474.79 31.5863 470.977 30.0045 467 30H45Z' fill='%23739A99'/%3E%3Cpath d='M293.472 126.637C284.838 124.149 275.849 129.175 273.361 137.806L208.356 365.258C205.867 373.889 210.895 382.876 219.528 385.363C228.162 387.851 237.151 382.825 239.639 374.194L304.644 146.742C307.133 138.111 302.105 129.124 293.472 126.637ZM334.405 187.612C328.056 193.958 328.056 204.265 334.405 210.611L379.756 256L334.354 301.389C328.006 307.735 328.006 318.042 334.354 324.388C340.702 330.734 351.011 330.734 357.359 324.388L414.239 267.525C420.587 261.179 420.587 250.872 414.239 244.526L357.359 187.663C351.011 181.317 340.702 181.317 334.354 187.663L334.405 187.612ZM178.646 187.612C172.298 181.266 161.989 181.266 155.641 187.612L98.7611 244.475C92.413 250.821 92.413 261.128 98.7611 267.474L155.641 324.337C161.989 330.683 172.298 330.683 178.646 324.337C184.994 317.991 184.994 307.684 178.646 301.338L133.244 256L178.646 210.611C184.994 204.265 184.994 193.958 178.646 187.612Z' fill='%23739A99'/%3E%3C/svg%3E%0A");
    }
  }
}

@media (min-width: 1280px) {
  #link-section .link-box-wrapper .link-box {
    padding: 2.2rem;
  }

  #link-section .link-box-wrapper .link-box::before {
    background-position: 85% 55%;
    background-size: 145px;
  }
}


