#project-section {
  background-color: #131720;
  padding: 4rem 20px 1.2rem;

  .container {
    .subheading {
      width: 100%;
      text-align: center;
      color: #846D8F;
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      letter-spacing: 0.0625rem;
      font-size: 1.25rem;
      line-height: 0.75;
      margin: 0 0 22px;
    }

    .divider {
      background: #846D8F;
      width: 3.125rem;
      height: 0.125rem;
      margin: 0 auto 45px;
    }

    .project-wrapper {
      display: flex;
      flex-direction: column;

      .text-wrapper {
        margin-bottom: 35px;

        h3 {
          margin-bottom: 12px;
          font-size: 30px;
        }

        .text {
          margin-bottom: 20px;
          max-width: 500px;
        }

        .button-wrapper {
          max-width: 400px;
          display: flex;
          column-gap: 15px;

          .button {
            display: block;
            padding: 12px 28px;
            transition: 200ms ease-out;
            color: #151b26;
          }

          .button:first-child {
            background-color: #8d7498;
          }

          .button:first-child:hover {
            background-color: #739A99;
          }

          .button:last-child {
            background-color: #282D37;
            color: #FFFFFF;
          }
        }
      }
    }

    .project-wrapper.art {
      margin-bottom: 35px;

      .art-wireframes {
        width: 100%;
        max-width: 560px;
      }
    }

    .project-wrapper.sg {
      margin-bottom: 35px;

      .sg-wireframes {
        width: 100%;
        max-width: 560px;
      }
    }

    .link-box-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      column-gap: 35px;
      row-gap: 35px;
      margin-bottom: 35px;

      .link-box {
        position: relative;
        width: 100%;
        min-width: 297px;
        flex: 1;
        background-color: #0a0e1c;
        padding: 1rem 1rem 1.4rem;
        cursor: pointer;

        h2 {
          color: #8d7498;
          font-size: 22px;
          font-weight: 600;
          text-align: left;
          margin-bottom: 12px;
        }

        h4 {
          font-size: 38px;
          font-weight: 600;
          margin-bottom: 26px;
          line-height: 0.8;
          color: #BF6165;
        }

        .divider {
          background: #846D8F;
          width: 3.125rem;
          height: 0.125rem;
          margin: 0 0 18px 0;
        }
      }


      .link-box::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: 80% 55%;
        background-size: 120px;
        background-repeat: no-repeat;
        opacity: 0.15;
      }

      .link-box.minutes::before {
        background-image: url("data:image/svg+xml,%3Csvg width='503' height='503' viewBox='0 0 503 503' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M251.5 503C390.4 503 503 390.4 503 251.5C503 112.6 390.4 0 251.5 0C112.6 0 0 112.6 0 251.5C0 390.4 112.6 503 251.5 503ZM251.5 473C373.831 473 473 373.831 473 251.5C473 129.169 373.831 30 251.5 30C129.169 30 30 129.169 30 251.5C30 373.831 129.169 473 251.5 473Z' fill='%23739A99'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M242 128C233.716 128 227 134.716 227 143V274C227 278.234 228.754 282.058 231.576 284.786C232.553 285.821 233.694 286.733 234.99 287.481L348.439 352.981C355.614 357.123 364.788 354.665 368.93 347.49C373.072 340.316 370.614 331.142 363.439 327L257 265.547V143C257 134.716 250.284 128 242 128Z' fill='%23739A99'/%3E%3C/svg%3E%0A");
      }
      .link-box.git::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cg id='stats-git' transform='translate(-560 -214)'%3E%3Cpath id='Differenzmenge_1' data-name='Differenzmenge 1' d='M471,512H41A40.966,40.966,0,0,1,0,471V41A40.966,40.966,0,0,1,41,0H471a40.966,40.966,0,0,1,41,41V471a40.966,40.966,0,0,1-41,41ZM45,30A15.017,15.017,0,0,0,30,45V467a15.017,15.017,0,0,0,15,15H467a15.017,15.017,0,0,0,15-15V45a15.017,15.017,0,0,0-15-15Z' transform='translate(560 214)' fill='%23739a99'/%3E%3Cpath id='Differenzmenge_2' data-name='Differenzmenge 2' d='M72,144a71.978,71.978,0,1,1,28.025-5.658A72.019,72.019,0,0,1,72,144ZM72,26a46,46,0,1,0,46,46A46,46,0,0,0,72,26Z' transform='translate(650 492)' fill='%23739a99'/%3E%3Cpath id='Differenzmenge_3' data-name='Differenzmenge 3' d='M72,144a71.978,71.978,0,1,1,28.025-5.658A72.019,72.019,0,0,1,72,144ZM72,26a46,46,0,1,0,46,46A46,46,0,0,0,72,26Z' transform='translate(856 492)' fill='%23739a99'/%3E%3Cpath id='Differenzmenge_4' data-name='Differenzmenge 4' d='M72,144a71.978,71.978,0,1,1,28.025-5.658A72.019,72.019,0,0,1,72,144ZM72,26a46,46,0,1,0,46,46A46,46,0,0,0,72,26Z' transform='translate(856 287)' fill='%23739a99'/%3E%3Crect id='Rechteck_28' data-name='Rechteck 28' width='31' height='74' transform='translate(913 425)' fill='%23739a99'/%3E%3Crect id='Rechteck_29' data-name='Rechteck 29' width='31' height='173' transform='matrix(0.719, 0.695, -0.695, 0.719, 873.255, 387.385)' fill='%23739a99'/%3E%3Crect id='Rechteck_30' data-name='Rechteck 30' width='31' height='67' transform='translate(913 232)' fill='%23739a99'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
      .link-box.wiki::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cg id='stats_wiki' transform='translate(-326 508)'%3E%3Cpath id='Differenzmenge_5' data-name='Differenzmenge 5' d='M471,512H41A40.966,40.966,0,0,1,0,471V41A40.966,40.966,0,0,1,41,0H471a40.966,40.966,0,0,1,41,41V471a40.966,40.966,0,0,1-41,41ZM45,30A15.017,15.017,0,0,0,30,45V467a15.017,15.017,0,0,0,15,15H467a15.017,15.017,0,0,0,15-15V45a15.017,15.017,0,0,0-15-15Z' transform='translate(326 -508)' fill='%23739a99'/%3E%3Cg id='wikipedia-logo' transform='translate(401.845 -376.009)'%3E%3Cpath id='Pfad_30' data-name='Pfad 30' d='M360.261,17.645l-71.977-.2c-.015,2.613-.022,5.745-.063,7.8,6.115.144,21.765,3.021,26.672,15.907L245.948,200.272c-3.378-7.9-35.44-79.121-39.1-88.28L240.19,42.831c6.884-10.522,20.049-17.307,32.776-17.8L272.93,17.8l-69.245-.063c-.165,1.834,0,5.689-.25,7.6,19.534.529,26.517,4.9,21.835,16.568-7.726,17.553-23.926,50.811-27.094,56.874-9.908-20.71-16.208-36.65-27-59.039-4.653-10.375,5.619-14.414,16.484-14.716V17.748L107.468,17.5c.059,3.418-.077,5.333-.077,7.832,11.18.169,25.683,1.363,31.467,11.1,7.671,14.932,33.239,74.218,40.976,90.1-9.868,18.939-33.838,63.732-42.427,80.534-12.3-27.31-57.818-134.844-70.681-162.6C61.932,32.632,80.443,25.8,91.15,25.3l.07-7.894L0,17.4c.018,2.374.1,6.285.106,8.038C14.9,25.3,36.521,49.6,42.7,64.7c26.623,61.785,54.1,123.209,80.591,185.046a79.669,79.669,0,0,0,8.383.029c17.337-35.478,37.594-72.759,55.886-108.64L233.7,249.829c.018.015,7.652.059,7.693.025,29.262-66.875,73.1-169.5,87.449-201.893,5.834-13.845,15.6-22.29,31.4-22.765l.117-7.189Z' fill='%23739a99'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      }
      .link-box.drone::before {
        background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.5' y='3.5' width='113' height='113' rx='5.5' stroke='%23739A99' stroke-width='7'/%3E%3Ccircle cx='64' cy='56' r='7' stroke='%23739A99' stroke-width='6'/%3E%3Cpath d='M21 64.2993C21 46.6934 30.4203 36.0973 35.1304 33L47.8478 45.7153C47.8478 45.7153 45.0217 50.4102 45.0217 57.4526C45.0217 70.6569 55.3841 75.5474 62.4493 75.5474C68.1014 75.5474 72.0266 73.5912 73.2826 72.6131L86 85.8175C77.5217 94.6204 69.9855 100 55.3841 100C40.7826 100 21 86.3066 21 64.2993Z' stroke='%23739A99' stroke-width='6' stroke-linejoin='round'/%3E%3Cpath d='M88.7772 32.53C72.2291 14.9174 51.7873 21.6533 44 25.758L55.681 37.5796C60.0614 34.46 71.7424 34.0081 78.5563 40.904C85.857 48.2926 85.3703 60.0736 82.45 64.6709L93.6443 76C98.8359 69.2682 104.352 49.8898 88.7772 32.53Z' stroke='%23739A99' stroke-width='6' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

@media (min-width: 1024px) {
  #project-section .container {
    .project-wrapper.art {
      position: relative;
      flex-direction: row;
      background-color: #0a0e1c;
      padding: 45px;
      overflow: hidden;

      .art-wireframes {
        position: absolute;
        width: 100%;
        max-width: 650px;
        bottom: -80px;
        right: -170px;
      }

      .text-wrapper {
        margin-bottom: 0;
      }
    }

    .project-wrapper.sg {
      position: relative;
      flex-direction: row-reverse;
      background-color: #0a0e1c;
      padding: 45px;
      overflow: hidden;

      .sg-wireframes {
        position: absolute;
        width: 100%;
        max-width: 620px;
        bottom: -110px;
        left: -175px;
      }

      .text-wrapper {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 1280px) {
  #project-section .container .project-wrapper .text-wrapper .text {
    max-width: 690px;
  }
}
